.main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 40px;
  text-align: center;
}

.description,
.descriptionNotFound {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
}
.descriptionNotFound {
  text-align: center;
}

.link {
  align-self: flex-end;
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s ease;
}
